.sign-centered-div {
    margin-top: 20vh;
    width: 400px;
    height: 740px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.checkbox input{ 
    width: 20px;
}
